#image{
    height: 300px;
}

#detailPageContainer{
    max-width: min-content;
    max-height: max-content;
    display: flex;
    flex-direction: row;
    margin: 20px;
}

@media (max-width: 414px){
    #detailPageContainer{
        max-width: min-content;
        max-height: max-content;
        display: flex;
        flex-direction: column;
        margin: 20px;
        align-items: center;
    }

    #contentContainer{
        margin-left:0px !important;
    }
}

#addToCart{
    height: 30px;
}

#contentContainer{
    margin-left: 20px;
}