*{margin: 0px; padding: 0px;}



Toast{
  position: static;
}

header{
    margin: 0px;
}

ul {
    list-style-type: none;
    padding: 8px;
    border-bottom: 1px solid  #AAB3AC;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .branding{
    flex: 0 0 auto;
  }
  
  .shoppingCartPreview{
    flex: 1 1 auto;
    text-align: right;
    vertical-align: middle;
  }
  
  li a {
    text-decoration: none;
  }
  
  